<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contacts Page (VD04_Task2)</title>
    <link rel="stylesheet" href="../static/css/style.css">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Main</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/blog/">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/contacts/">Contacts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Extra</a>
    </li>
</ul>


<div class="container" style="margin-top: 30px">
    <h1>Контакты</h1>
</div>

    <div class="card">
        <div class="photo">
            <img src="/static/image/mickey.jpg" alt="Микки Маус">
        </div>
        <div class="info">
            <h1>Микки Маус</h1>
            <p>Микки Маус — культовый персонаж мультфильмов от компании Disney, созданный Уолтом Диснеем и Абом Айверксом. Он является символом компании и известен благодаря своим приключениям и оптимизму.</p>
        </div>
    </div>

    <div class="card">
        <div class="photo">
            <img src="/static/image/batman2.jpg" alt="Бэтмен">
        </div>
        <div class="info">
            <h1>Бэтмен</h1>
            <p>Бэтмен — супергерой из комиксов компании DC Comics. Настоящее имя — Брюс Уэйн, миллиардер и филантроп, который борется с преступностью в Готэм-сити, используя свои навыки и технологии.</p>
        </div>
    </div>

    <div class="card">
        <div class="photo">
            <img src="/static/image/pikachu.jpg" alt="Пикачу">
        </div>
        <div class="info">
            <h1>Пикачу</h1>
            <p>Пикачу — один из самых известных покемонов из франшизы Pokémon. Это электрический покемон, который является верным спутником главного героя, Эша Кетчума. Известен своими электрическими атаками и милым видом.</p>
        </div>
    </div>

</body>
</html>