<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Main Page (VD04_Task2)</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Main</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/blog/">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contacts/">Contacts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Extra</a>
    </li>
</ul>
<div class="container" style="margin-top: 0px">
    <h1>Главная страница</h1>
</div>

  <!-- Секция 2: Карточки -->
  <section class="mb-5">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <img src="/static/image/bcard-apr.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Карточка 1</h5>
            <p class="card-text">Описание первой карточки. Здесь может быть любая информация.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <img src="/static/image/bcard-feb.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Карточка 2</h5>
            <p class="card-text">Описание второй карточки. Здесь может быть любая информация.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <img src="/static/image/bcard-oct.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Карточка 3</h5>
            <p class="card-text">Описание третьей карточки. Здесь может быть любая информация.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


</body>
</html>