<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Случайная цитата</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">Random Quote </h5>
                <blockquote class="blockquote mb-0">
                    <p>{{ quote }}</p>
                    <footer class="blockquote-footer">Author: {{ author }}</footer>
                </blockquote>
            </div>
        </div>
    </div>
</body>
</html>